.DS_Store
*.swp

# Eclipse files
.project
.settings/

# IntelliJ files
*.iml
.idea/

# VS
.vs/
.vscode/


# Node
node_modules/
npm-debug.log
package-lock.json
yarn.lock

*.log
build
tests_build
coverage

.DS_Store
